@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
:root{
    --calc--font: 'Orbitron', sans-serif;
}
*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

button{
    border-style: none;
    background-color: blue;
    color: white;
    box-shadow: 3px 3px 0px black;
    font-size: 14px;
}

.calculator-body{
    margin-top: 50px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(124 127 123);
    border-radius: 20px;
    width: 500px;
    height: 400px;
   
    
}

.display-operators{
    display: flex;
    gap: 10px;
}

.display{
    display: inline-block;
    text-align: right;
    height: 55px;
    border: 1px black solid;
    background-color: white;
    width: 400px;
    margin-bottom: 30px;
    line-height: 10vh;
    font-family: var(--calc--font);
    font-size: 34px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    overflow: visible;
}

.operator-lights-container{
    height: auto;
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.operator-lights-container > div{
    height: 50%;
    width: 50%;
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-light{
    padding-top: 20%;
}

.bottom-light{
    padding-bottom: 20%;
}

.button-container{
    display: flex;
    justify-content: flex-start;
    width: 400px;
    height: 65%;
    padding: 0px 10px 10px;
    margin-left: 10px;
    
}
.buttons{
    display: grid;
}
.buttons.operators{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100px;
    
}

.buttons.numeric{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr, 4);
    gap: 10px;
    width: 300px;
}

.operator-button{
    background-color: blue;
    width: 4em;
    height: 3em;
    transition: all .1s;
}

.number-button{
    background-color: aquamarine;
}

.number-button, .equals{
    width: 4em;
    height: 4em;
    transition: all .1s;
}

.equals{
    background-color: blue;
}

.number-button.pushed, .operator-button.pushed, .equals.pushed{
    border: 1px white solid;
    transform: translate(2px, 2px);
    box-shadow: none;
    transition: all .1s;
}



.clear{
    width: 4em;
    height: 3em;
    background-color: rgb(204, 192, 29);
}


